*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

h2{
    text-align: center;
}

.container{
    width: 40vh;
    min-height: 45vh;
    padding: 2rem;
    background-color: rgba(255,255,255,.4);
    border-radius: 10px;
    box-shadow: 7px 8px 14px -6px rgba(0,0,0,0.75);
}

form{
    margin: 2rem 0 1rem 0;
}

form .amount p{
    font-weight: 300;
}

form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
}

form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 2rem;
    padding-left: 0.5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.select-container img{
    font-size: 1.75rem;
    max-width: 2rem;
}
.select-container select{
    background: none;
}

.dropdown span{
    position: relative;
    top: 1.5rem;
}

.select-container{
    display: flex;
    width: 6rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.msg{
    margin: 2rem 0;
    text-align: center;
    font-weight: 600;
}

form button{
    height: 2rem;
    background-color: #3b56db;
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

form button:hover{
    opacity: 0.8;
    cursor: pointer;
    transition: .5s;
}